# ===== Next.js Web =====
NODE_ENV=development
# 必须带 /api 前缀（Nest setGlobalPrefix('api')）
NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_WS_URL=ws://localhost:4000
# Spring context-path=/admin
NEXT_PUBLIC_ADMIN_URL=http://localhost:8080/admin
